@model IEnumerable<People.Models.P_User>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.uName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uPwd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uSex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uProvince)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uAddr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uLoginTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.uName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uPwd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uPhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uSex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uProvince)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uAddr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uLoginTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.uId }) |
            @Html.ActionLink("Details", "Details", new { id=item.uId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.uId })
        </td>
    </tr>
}

</table>
